<div class="form-group">
  <%= f.label :paas_category_ids, t('cloud_service_administration.paas_categories') %>
  <%= f.collection_check_boxes(:paas_category_ids, @paas_categories, :id, :name) do |cb| %>
      <div class="i-checks">
        <%= cb.label { cb.check_box + ' ' + t("for_database.paas_categories.#{cb.text}") } %>
      </div>
  <% end %>
</div>