<!-- Modal -->
<div class="modal" id="ajax-loader-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-body">

        <div class="sk-spinner sk-spinner-three-bounce">
          <div class="sk-bounce1"></div>
          <div class="sk-bounce2"></div>
          <div class="sk-bounce3"></div>
        </div>


        <h3 class="text-center"><%= t('loading_data') %></h3>

      </div>



    </div>
  </div>
</div>