#new_cloud_service {

  &.type-selected-iaas {
    .saas-toggle {
      display: none;
    }
    .paas-toggle {
      display: none;
    }
  }

  &.type-selected-paas {
    .iaas-toggle {
      display: none;
    }
    .saas-toggle {
      display: none;
    }
  }

  &.type-selected-saas {
    .iaas-toggle {
      display: none;
    }
    .paas-toggle {
      display: none;
    }
  }

}