// Sticky footer
body.top-navigation {
  min-height: 100%;

  #wrapper {
    height: 100%;

    #page-wrapper {
      min-height: 100%;


      .wrapper {
        &.wrapper-content {
          padding-bottom: 70px;
        }
      }

    }
  }
}


// BREADCRUMB
#breadcrumbs {
  margin-bottom: 20px;

  .breadcrumb {
    font-size: 15px;
    padding-bottom: 20px;
  }
}



// Rows with equal height columns
.row-eq-height {
  overflow: hidden;

  .ibox {
    .ibox-content {
      margin-bottom: -99999px;
      padding-bottom: 99999px;
    }
  }
}



// Mark not translated strings
.translation_missing {
  color: red !important;
}