// TABLE
.table {
  thead {
    tr {
      th {
        white-space: nowrap;
      }

      th {
        padding-right: 20px;
      }

    }
  }

  tbody {
    tr {
      td {
        padding-right: 20px;
        vertical-align: middle;
      }

      td.action-icons {
        a {
          margin-right: 15px;
        }
      }

      td.image-icon {
        > img {
          height: 11px;
          margin-bottom: 2px,
        }
      }

      td.list {
        > ul {
          padding-left: 20px
        }
      }
    }
  }

}