<% @saas_categories.each do |sc| %>

    <% if has_saas_category?(cs, sc) %>

      <p>
        <i class="glyphicon glyphicon-ok text-info"></i>
      </p>
      <hr>

    <% else %>

        <p>
          <i class="glyphicon glyphicon-remove text-danger"></i>
        </p>
        <hr>

    <% end %>

<% end %>

<p><%= number_to_currency cs.price %></p><hr>