// Sticky footer
body.top-navigation {
  min-height: 100%;

  #wrapper {
    height: 100%;

    #page-wrapper {
      min-height: 100%;


      .wrapper {
        &.wrapper-content {
          padding-bottom: 70px;
        }
      }

    }
  }
}


// Mark not translated strings
.translation_missing {
  color: red !important;
}


// Alert boxes
.alert {
  ul {
    li {
      text-align: left;
    }
  }
}




